{% style %}
  .nfusion-ticker__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #000;
  }
  .nfusion-ticker__container--sticky {
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    padding: 0 1em;
  }
  .nfusion-ticker__heading {
    width: 100%;
    text-align: center;
  }
  @media screen and (min-width: 750px) {
    .nfusion-ticker__container {
      flex-direction: row;
    }
    .nfusion-ticker__heading {
      text-align: left;
      width: 22em;
    }
  }
{% endstyle %}
<div class="nfusion-ticker__container{% if block.settings.sticky_section %} nfusion-ticker__container--sticky{% endif %}">
  {% if block.settings.heading_text %}
    <{{ block.settings.heading_size }} class="nfusion-ticker__heading">
      {{- block.settings.heading_text -}}
    </{{ block.settings.heading_size }}>
  {% endif %}
  {% if block.settings.widget_id %}
    <div id="{{ block.settings.widget_id }}" class="nfusion-ticker__ticker" style="width:100%;height:100%;"></div>
    <script>
      (function () {
        var t = document.getElementsByTagName('script')[0];
        var s = document.createElement('script');
        s.async = true;
        s.src =
          'https://widget.nfusionsolutions.com/widget/script/ticker/1/dbdb86ed-354f-498d-8d22-c3cda8ea024b/{{ block.settings.widget_id }}?symbols=gold,silver&currency=aud&unitofmeasure=toz';
        t.parentNode.insertBefore(s, t);
      })();
    </script>
  {% else %}
    <p>Widget ID not found. Add the widget ID</p>
  {% endif %}
</div>
{% schema %}
{
  "name": "nFusion Ticker Widget",
  "target": "section",
  "settings": [
    {
      "type": "header",
      "content": "Content"
    },
    { "type": "checkbox", "label": "Sticky Section?", "id": "sticky_section", "default": false },
    { "type": "text", "id": "heading_text", "label": "Heading" },
    {
      "type": "select",
      "id": "heading_size",
      "label": "Heading Size",
      "options": [
        {
          "value": "h1",
          "label": "h1"
        },
        {
          "value": "h2",
          "label": "h2"
        },
        {
          "value": "h3",
          "label": "h3"
        },
        {
          "value": "h4",
          "label": "h4"
        },
        {
          "value": "h5",
          "label": "h5"
        },
        {
          "value": "h6",
          "label": "h6"
        }
      ],
      "default": "h3",
      "info": "The size of the heading."
    },
    {
      "type": "header",
      "content": "Widget Details"
    },
    { "type": "text", "id": "widget_id", "label": "Widget ID" }
  ]
}
{% endschema %}
